.editor-container {
    width: 100%;
    height: calc(100% - 30px);
    margin-bottom: 30px;
    margin-top: 0px;

    // Main coding editor
    #editor {
        display: block;

        // Default styling of editor
        background-color: transparent;
        color: white;
        border: none;
        font-family: "Inconsolata";
        font-weight: 400;
        font-size: 32px;
        caret-color: #fff;
        white-space: pre;
        margin: 10px 0 0 10px;
        padding: 0 5px 5px 0;
        cursor: auto;
    }
}