// Defining name of font weight and font weight
$font-weights:
    'ExtraLight' 200,
    'Light' 300,
    'Regular' 400,
    'Medium' 500,
    'Semibold' 600,
    'Bold' 700,
    'ExtraBold' 800,
    'Black' 900,
;

// Noto Sans (Main font for Cobaltext but not for the coding editor)
$noto-sans-weights: (300, 400, 500, 600);
@each $name, $weight in $font-weights {
    @if index($noto-sans-weights, $weight) {
        @font-face {
            font-family: "Noto Sans";
            src: url("../fonts/NotoSans-#{$name}.ttf");
            font-weight: $weight;
        }
    }
}

// Inconsolata (Main font for coding editor)
$noto-sans-weights: (200, 300, 400, 500, 600, 700);
@each $name, $weight in $font-weights {
    @if index($noto-sans-weights, $weight) {
        @font-face {
            font-family: "Inconsolata";
            src: url("../fonts/Inconsolata-#{$name}.ttf");
            font-weight: $weight;
        }
    }
}