$bg: #1f2646;
$header: #141b38;
$scrollbar: #101939;
$scrollbar-hover: #0e1839;
$tab: transparent;
$hover-tab: #aab4df19;
$active-tab: #30396a;
$drawer-bg: #192245;
$drawer-border: #121937ce;

/* Themes */
// Default theme
$default-selected-text: #3a4885;
$default-activeline: #27305a;