/* General */
@import 'fonts';
@import 'variables';

/* Components */
@import 'components/dropdown';
@import 'components/header';
@import 'components/footer';

/* Pages */
@import 'pages/home';

/* General styling */
body {
    margin: 0;
    padding: 0;
    background-color: $bg;
    color: #fff;
    font-family: "Noto Sans";
}

// Don't let dragging on images
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    transition: 200ms;
}

main {
    overflow: hidden;
    // Height is (screen height - (header height + footer height))
    height: calc(100vh - (#{$header-height} + #{$footer-height}));
}

// Text highlight color
::selection {
    background-color: rgba(255, 255, 255, 0.2);
}