/* General */
@import 'fonts';
@import 'variables';
@import 'mixins';

/* Components */
@import 'components/dropdown';
@import 'components/header';
@import 'components/footer';
@import 'components/tabs';

/* Pages */
@import 'pages/editor';

/* General styling */
body {
    margin: 0;
    padding: 0;
    background-color: $bg;
    color: #fff;
    font-family: "Noto Sans";
    overflow: hidden;
}

// Don't let dragging on images
img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

button {
    outline: none;
    background-color: transparent;
    border: none;
    transition: 200ms;
}

textarea, *[contenteditable] {
    outline: none;
    resize: none;
}

main {
    overflow: hidden;
    // Height is (screen height - (header height + footer height))
    height: calc(100vh - (#{$header-height} + #{$footer-height}));
}

// Text highlight color
::selection {
    background-color: rgba(255, 255, 255, 0.2);
}

// Default Scrollbar
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: $scrollbar;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-hover;
}
::-webkit-scrollbar-corner {
    background: transparent;
}