$header-height: 36px;

@mixin header-span {
    opacity: .9;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: .5px;
}

header {
    background-color: $header;
    width: 100%;
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10);
    
    // Make window draggable
    -webkit-user-select: none;
    -webkit-app-region: drag;

    // No drag for elements inside
    button, ul {
        -webkit-app-region: no-drag;
    }

    > div {
        height: 100%;
        display: flex;
        align-items: center;
        flex: 1;
    }

    .menu {
        margin-right: auto;

        .logo {
            height: 70%;
            margin: 0 5px 0 5px;
        }

        ul {
            padding: 0;

            li {
                display: inline-block;
                list-style: none;

                span {
                    display: flex;
                    align-items: center;
                    height: $header-height;
                    transition: 200ms;
                    padding: 0 10px;
                    @include header-span;

                    &:hover {
                        background-color: rgba(255, 255, 255, 0.14);
                    }
                }

                .dropdown {
                    top: $header-height;
                    background-color: $header;
                    border-radius: 0 0 10px 10px;
                    min-width: 200px;

                    ul {
                        li {
                            display: block;
                            padding: 10px;
                            transition: 40ms;
                            cursor: pointer;
                            @include header-span;

                            &:hover {
                                background-color: rgba(255, 255, 255, 0.06);
                            }

                            &:last-child {
                                border-radius: 0 0 10px 10px;
                            }

                            &.seperate {
                                border-bottom: 1px solid rgba(186, 186, 186, 0.225);
                            }
                        }
                    }
                }
            }
        }
    }

    .text {
        justify-content: center;
        text-align: center;
        @include header-span;
    }

    .buttons {
        margin-left: auto;
        justify-content: flex-end;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 10px;

            &:hover {
                background-color: rgba(255, 255, 255, 0.14);
            }

            &#close-window {
                &:hover {
                    background-color: red;
                }
            }

            img {
                height: 90%;
            }
        }
    }
}