@mixin tab {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $tab;
    font-size: 14px;
    padding: 0 10px;
    height: 100%;
    padding: 0 15px;
    transition: 200ms;
    border: none;
    white-space: nowrap;
    cursor: pointer;
}

.tabs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
    height: 42px;

    #tabs {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: auto;
        height: 100%;
        width: 100%;
        background-color: $bg;
    
        > .tab {
            @include tab;
    
            // Active tab
            &.selected {
                border-bottom: none;
                background-color: $active-tab;
            }
    
            &:not(.selected) {
                &:hover {
                    background-color: $hover-tab;
                }
            }
        }

        &:hover {
            &::-webkit-scrollbar-thumb {
                background: rgba(158, 178, 223, 0.21);
                border-radius: 7px;
            }
        }

        &::-webkit-scrollbar {
            width: 3px;
            height: 3px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: transparent;
            border-radius: 7px;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: rgba(158, 178, 223, 0.333);
        }
    }
}