// Xterm overwrites
#terminal {
    #xterm-terminal {
        width: 100%;
        height: calc(100% - 10px);
        padding: 10px;
    
        .xterm {
            height: 100%;
            width: 100%;
        
            .xterm-viewport {
                background: transparent !important;
            }
            
            .xterm-screen {
                width: 100% !important;
    
                > .xterm-rows {
                    > div {
                        &::before:not(:first-child) {
                            content: ">";
                            color: white;
                        }
                        &:first-child {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}