@import '../variables';

// Import custom themes
@import './custom-default.scss';

// General CodeMirror styling
.CodeMirror {
    &-vscrollbar, &-hscrollbar {
        cursor: default;
    }

    &-vscrollbar { margin-top: 10px; }

    &-scroll {
        height: calc(100% - 30px);
        padding-bottom: 40px;
    }

    &-sizer {
        margin-top: 10px;
    }
}